.background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('../images/tiago-leifert-o-bbb19.jpg');
  background-size: cover;
  background-position: center center;
  background-color: black;
  z-index: -1;
}