.highlight {
  img.logo {
    height: 8rem;
    width: auto;
    font-family: Helvetica;
    position: relative;
    z-index: 2;
  }

  h1 {
    color: white;
    font-weight: 500;
    margin-bottom: 2.5rem;
    white-space: nowrap;
    position: relative;
    z-index: 2;
  }

  .actions {
    display: flex;
    
    button {
      padding: .5rem 1rem;
      background: none;
      color: white;
      font-size: 1.25rem;
      font-weight: 600;
      border-radius: 3px;
      margin-right: .8rem;
      outline: none;
      transition-duration: .5s;
      border: 1px solid white;
  
      &:focus {
        background-color: white;
        color: black;
        transition-duration: .5s;
        transform: scale(1.1);
      }
    }
  }

  &.rail-item {
    h1, h2 {
      font-weight: 700;
      color: white;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 0;
    }

    h2 {
      font-size: 2.5rem;
      margin-top: 1rem;
      margin-bottom: 10rem;
    }
  }
}